html{
  font-family: 'Montserrat', sans-serif;
}
body{
  /* background-image: url(../images/Background-image-1.jpg); */
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  overflow: hidden;
  color: aliceblue;
}
.grid-container{
  display: grid;
}
.grid1{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh;
  display: grid;
  grid-template-rows: 122px 1fr 340px;  
  grid-gap: 10px; 
}
.wrapper1{
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2px;
}
.item1{
  font-size: 2.1rem;
  align-self: center;
  margin-left: 18px;
}
.icon1{
  align-self: center;
  grid-column: end;
}

.wrapper2{
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 40px 350px 40px 1fr;
  grid-gap: 10px;
}

.item2{
  /* border: 1px solid black; */
  /* border-radius: 12px; */
  text-align: center;
  vertical-align: middle;
  line-height: 60px; 
  font-size: 1.8rem;

}
.icon2{
  width: 38px;
  align-self: center;
}
.icon3{
  width: 38px;
  align-self: center;
}
.icon4{
  align-self: center;
  grid-column: end;
}

.icon-size{
  height: 36px;
  width: 36px;
}

.grid2{
  display: grid;
  grid-template-columns: 1fr 200px 200px 200px 1fr;
  text-align: center;
  margin-bottom: 1.5rem;
}
.main-icon{
  justify-self: end;
  grid-column: 2/3;
  align-self: center;
}
.main-temp{
  font-size: 7.4rem;
  font-weight: 300;
  align-self: center;
}
.main-unit{
  font-size: 7.4rem;
  font-weight: 300;
  text-align: start; 
  align-self: center;
}
.grid3{
  display: grid;
  grid-template-columns: 1fr 20px 240px 50px 100px 100px 1fr;
  /* grid-gap: 2px */
  text-align: center;
  margin-bottom: 1rem;
  align-items: center;
  font-size: 2.5rem;
}
#plus-sign{
  justify-self: center;
  grid-column: 2/3;
  position: relative;
  cursor: pointer;
  top: 2px;
}
#summary{
  justify-self: center;
  grid-column: 3/4;
  font-size: 1.8rem;
  font-weight: 500;
}
#wind{
  justify-self: center;
}
#wind-icon{
  position: relative;
  top: 5px;
}
#speed-unit{
  justify-self: center;
}
.grid4{
  display: grid;
  grid-template-columns: 1fr 520px 1fr;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 1.2rem;
}
.ext-summary{
  grid-column: 2/3;
  font-size: 2rem;
  font-size: 1.9rem;
  line-height: 1.2;
  background-color: rgba(82, 70, 116, 85%);
  border-left: 3px solid salmon;
  border-right: 3px solid salmon;
  border-radius: 3px;
}
.grid5{
  display: grid;
  grid-template-columns: 1fr 120px 60px 50px 120px 60px 50px 1fr;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

li {
  list-style-type: none;
  /* margin-bottom: 30px; */
}
.more:before, .more:after {
  transition: all 0.6s cubic-bezier(0.46, -0.41, 0.3, 1.52) 0.1s;
}
.open-state .more{
  transition: all 0.6s cubic-bezier(0.46, -0.41, 0.3, 1.52) 0.1s;
}
.open-state .more:before .open-state .more:after{
  transition: all 0.6s cubic-bezier(0.46, -0.41, 0.3, 1.52) 0.1s;
}
.more:before, .more:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  border-bottom: 3px solid white;
}
.more:before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.more3:after {
  transform: translate(-50%, -50%) rotate(180deg);
}
.open-state .more3:before {
  transform: translate(-50%, -50%) rotate(0);
}
.open-state .more3:after {
  transform: translate(-50%, -50%) rotate(0);
}
#high{
  justify-self: start;
  grid-column: 2/3;
}
#temp-high{
  justify-self: start;
}
#low{
  justify-self: end;
}
#temp-low{
  justify-self: center;
}
#temp-unit2{
  justify-self: start;
}
a.svg:after {
  content: ""; 
  /* position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; */
}
.round-rec{
  background-color: rgba(82, 70, 116, 75%);
  /* border: solid 2px salmon; */
  height: 90%;
  width: 97vw;
  border-radius: 1px;
  justify-self: center;
  align-self: center
}
.itm1{
  grid-row: 1/2;
}
.itm2{
  grid-row: 2/3;

}
.itm3{
  grid-row: 3/-1;
}
.grid6{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.border-it{
  border-right: 1px solid salmon;
  border-left: 1px solid salmon;
}
.border-it-2{
  border-right: 1px solid salmon;
}
.border-it-3{
  border-left: 1px solid salmon;
}
.day1{
  display: grid;
  grid-template-rows: 1fr 100px 1fr;
  grid-template-columns: 1fr 1fr;
}
.day2{
  display: grid;
  grid-template-rows: 1fr 100px 1fr;
  grid-template-columns: 1fr 1fr;

}
.day3{
  display: grid;
  grid-template-rows: 1fr 100px 1fr;
  grid-template-columns: 1fr 1fr;
}
.day4{
  display: grid;
  grid-template-rows: 1fr 100px 1fr;
  grid-template-columns: 1fr 1fr;
}
.day5{
  display: grid;
  grid-template-rows: 1fr 100px 1fr;
  grid-template-columns: 1fr 1fr;
}
.day6{
  display: grid;
  grid-template-rows: 1fr 100px 1fr;
  grid-template-columns: 1fr 1fr;
}
.day7{
  display: grid;
  grid-template-rows: 1fr 100px 1fr;
  grid-template-columns: 1fr 1fr;
}
.i1{
  grid-row: 1/2;
  grid-column: 1/-1;
  font-size: 3rem;
  align-self: flex-start;
  justify-self: center;
}
.i2{
  grid-row: 2/3;
  grid-column: 1/-1;
  font-size: 3rem;
  align-self: center;
  justify-self: center;
}
.i3{
  grid-row: 3/4;
  grid-column: 1;
  font-size: 3rem;
  align-self: flex-end;
  justify-self: end;
}
.temp-unit3{
  grid-column: 2;
  grid-row:3 ;
  font-size: 3rem;
  align-self: flex-end;
  justify-self: start;
  margin-left: 6px;
  /* font-weight: 300; */
}
input{
  background-color: rgba(82, 70, 116, 0%);
  border: solid 1px white;
  /* height: 90%; */
  /* display: flex; */
  /* height: 95%; */
  width: 92%;
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.day1:hover{
  position: relative;
  bottom: 55px;
  transform: scale(1);
  background-color: rgba(82, 70, 116, 70%); 
  /* transition: 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);  */
  /* border: 1px solid salmon; */
  /* border-radius: 1px; */
  /* border-top: 1px solid salmon;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px; */
}
.day2:hover{
  position: relative;
  bottom: 55px;
  transform: scale(1);
  background-color: rgba(82, 70, 116, 70%); 
  /* transition: 444ms cubic-bezier(.66,-0.4,.53,1.44); */

}
.day3:hover{
  position: relative;
  bottom: 55px;
  transform: scale(1);
  background-color: rgba(82, 70, 116, 70%); 
  /* transition: 444ms cubic-bezier(.66,-0.4,.53,1.44); */

}
.day4:hover{
  position: relative;
  bottom: 55px;
  transform: scale(1);
  background-color: rgba(82, 70, 116, 70%); 
  /* transition: 444ms cubic-bezier(.66,-0.4,.53,1.44); */

}
.day5:hover{
  position: relative;
  bottom: 55px;
  transform: scale(1);
  background-color: rgba(82, 70, 116, 70%); 
  /* transition: 444ms cubic-bezier(.66,-0.4,.53,1.44); */
}
.day6:hover{
  position: relative;
  bottom: 55px;
  transform: scale(1);
  background-color: rgba(82, 70, 116, 70%); 
  /* transition: 444ms cubic-bezier(.66,-0.4,.53,1.44); */

}
.day7:hover{
  position: relative;
  bottom: 55px;
  transform: scale(1);
  background-color: rgba(82, 70, 116, 70%); 
  /* transition: 444ms cubic-bezier(.66,-0.4,.53,1.44);  */
}
.degree{
  color: aliceblue;
}
.speed{
  color: aliceblue;
}
.temperature{
  color: aliceblue;
}
.speedVal{
  color: aliceblue;
}