trash/
Back-end/django_env/
env
*.DS_Store
*.pyc
__pycache__
.idea/
'.idea/Weather-Web-App.iml'
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.vscode/
.vscode/settings.json
./Back-end/Weather_app/Date/cities.db
